# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# SQL dumps
*.sql

# Logs
*.log

# Other
*.bak
*.tmp
